 @charset "utf-8";
.banner {
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
	.banner ul {
		list-style: none;
		width: 300%;
	}
	.banner ul li {
		display: block;
		float: left;
		width: 33%;
		min-height: 350px;
	}
	.banner .inner {
		padding: 160px 0 110px;
	}

	.banner .btn {
		display: inline-block;
		margin: 25px 0 0;
		padding: 9px 22px 7px;
		clear: both;

		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;

		border: 2px solid rgba(255,255,255,.4);
		border-radius: 5px;
	}
		.banner .btn:hover {
			background: rgba(255,255,255,.05);
		}
		.banner .btn:active {
			-webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		}

	.banner .btn, .banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}

	.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		width: 100%;
	}
		.banner .dots li {
			display: inline-block;
			*display: inline;
			zoom: 1;

			width: 10px;
			height: 10px;
			line-height: 10px;
			margin: 0 4px;

			text-indent: -999em;
			*text-indent: 0;

			border: 2px solid #73aa13;
			border-radius: 6px;

			cursor: pointer;
			opacity: .4;
		}
			.banner .dots li.active {
				background: #73aa13;
				opacity: 1;
			}

	.banner .arrows {
		position: absolute;
		color: #fff;
		width:40px;
		height: 74px;
	}
		.banner .arrow {
			display: inline;
			padding-left: 10px;
			cursor: pointer;
		}
.unslider-arrow{
	position: absolute;
	width:60px;
  	height:60px;
	display: block;
	z-index: 100;
	cursor: pointer;
}
.banner .prev{
	top: 43%;
	left: 3%;
	background: url(../img/bg_direction_nav.png) 0px 0px;
}
.banner .next{
	top: 43%;
	right: 3%;
	background: url(../img/bg_direction_nav.png) -60px 0px;
}
.banner .prev:hover{
	background: url(../img/bg_direction_nav.png) 0px 60px;
}
.banner .next:hover{
	background: url(../img/bg_direction_nav.png) -60px 60px;
}